# TUGAS III
_______________________________________________________________________________________________________________________________

## STRINGS INDEX

Variabel string dapat diurutkan dengan index yang dimulai dari angka 0, dan huruf paling akhir juga dapat didefinisikan sebagai urutan ke -1.

In [1]:
kelas = 'ini kelas algoritma'

In [2]:
print(kelas[0:3])

ini

In [3]:
print(kelas[0:4])

ini

_______________________________________________________________________________________________________________________________
Kedua contoh di atas memiliki output yang sama, yaitu kata "ini". Tapi sebenernya kedua contoh di atas memiliki output yang berbeda. 

Pada contoh pertama (kelas[0:3]) menghasilkan output "ini" tanpa spasi, sedangkan contoh kedua (kelas[0:4]) menghasilkan output "ini" dengan spasi dibelakangnya. 

Jadi dapat disimpulkan bahwa disini 'spasi' juga terhitung sebagai index.
_______________________________________________________________________________________________________________________________

In [4]:
print(kelas[0:8])

ini kela

In [5]:
print(kelas[0:-1])

ini kelas algoritm

_______________________________________________________________________________________________________________________________
Dapat dilihat pada contoh di atas, format strings index outputnya itu satu huruf sebelum huruf dari angka yang kita panggil (indeks huruf + 1). Misal pada variabel 'kelas' di atas, kita coba print kata "ini kelas", huruf 's' berada pada indeks angka ke 8, tapi kalo kita ketik [0:8] outputnya hanya "ini kela" oleh karena itu harusnya kita ketik [0:9] agar hasilnya sesuai.

Begitu juga untuk contoh kedua, agar outputnya menjadi "ini kelas algoritma" kita bisa perintahkan untuk print(kelas[0:])
_______________________________________________________________________________________________________________________________

In [6]:
print(kelas[0:9])

ini kelas

In [7]:
print(kelas[0:])

ini kelas algoritma

In [9]:
print(kelas[:])

ini kelas algoritma

In [10]:
print(kelas[10:])

algoritma

_______________________________________________________________________________________________________________________________
Ketentuan (indeks huruf + 1) itu hanya berlaku untuk huruf terakhir. Untuk huruf pertama kita tetap gunakan indeks urutan huruf itu sendiri. 

Bisa dilihat pada contoh diatas, huruf 'a' pada kata "algoritma" berada pada urutan ke 10. Oleh karena itu kita ketikkan [10:]
_______________________________________________________________________________________________________________________________

In [11]:
senin = 'hari ini aku bangun pagi'

In [12]:
print(senin[-5:]+' '+senin[5:-5])

 pagi ini aku bangun

In [13]:
print(kelas[0:9]+' '+senin[13:])

ini kelas bangun pagi

In [14]:
print(senin[-5:]+' '+senin[0:4]+' '+kelas[:4]+'ada '+kelas[4:])

 pagi hari ini ada kelas algoritma

_______________________________________________________________________________________________________________________________
Kita bisa membuat variasi kalimat baru dengan menggabungkan indeks-indeks kata dari variabel yang berbeda seperti pada contoh-contoh di atas.
_______________________________________________________________________________________________________________________________

## STRINGS METHODS

Ada beberapa metode yang dapat digunakan pada variabel berjenis string.

In [15]:
NCT = 'Mark Renjun Jeno Haechan Jaemin Chenle Jisung'
#Deklarasi variabel

In [16]:
print(len(NCT))
#Metode ini digunakan untuk menghitung jumlah huruf dari variabel yang diminta

45

In [17]:
NCT.upper()
#Metode ini digunakan untuk merubah format huruf pada variabel menjadi huruf kapital

'MARK RENJUN JENO HAECHAN JAEMIN CHENLE JISUNG'

In [18]:
NCT.lower()
#Metode ini digunakan untuk merubah format huruf pada variabel menjadi huruf kecil

'mark renjun jeno haechan jaemin chenle jisung'

In [19]:
NCT.find('Jeno')
#Metode ini digunakan untuk menghitung urutan huruf pertama dari kata yang kita cari
#Untuk urutan indeks huruf dimulai dari angka 0

12

In [20]:
NCT.find('mark')
#Pada percobaan ini menghasilkan output -1 dikarenakan kata yang diminta tidak sesuai dengan kata pada variabel
#Pada variabel 'mark' didefinisikan dengan huruf 'M' besar

-1

In [21]:
NCT.replace('Mark',"Lucas")
#Metode ini digunakan untuk mengganti kata/kalimat pada variabel dengan kata/kalimat yang diinginkan

'Lucas Renjun Jeno Haechan Jaemin Chenle Jisung'

In [22]:
NCT.replace('mark',"Lucas")
#Karena kata 'mark' dengan huruf 'm' kecil tidak ada pada variabel, 
#maka output yang dihasilkan adalah kalimat pada variabel awal tanpa mengubah apapun

'Mark Renjun Jeno Haechan Jaemin Chenle Jisung'

In [23]:
print('Jaemin' in NCT)
#Metode ini akan menampilkan nilai True jika terdapat kata yang diminta pada variabel yang dideklarasikan

True

In [24]:
print('Lucas' in NCT)
#Metode ini akan menampilkan nilai False jika kata yang diminta tidak ada pada variabel yang dideklarasikan

False

In [25]:
A = 'saya sedang membuat tugas'

In [28]:
A.title()
#Metode ini digunakan untuk mengubah karakter pertama dari setiap kata pada variabel menjadi huruf besar

'Saya Sedang Membuat Tugas'

In [32]:
A.center(50)
#Metode ini digunakan untuk mengubah text ke tengah sesuai dengan nilai yang diberikan

'            saya sedang membuat tugas             '

In [33]:
HARI = ("SENIN", "SELASA", "RABU", "KAMIS", "JUMAT", "SABTU", "MINGGU")

In [34]:
"-".join(HARI)
#Metode ini digunakan untuk menambahkan elemen ke akhir setiap string

'SENIN-SELASA-RABU-KAMIS-JUMAT-SABTU-MINGGU'

In [35]:
"+".join(NCT)

'M+a+r+k+ +R+e+n+j+u+n+ +J+e+n+o+ +H+a+e+c+h+a+n+ +J+a+e+m+i+n+ +C+h+e+n+l+e+ +J+i+s+u+n+g'


_______________________________________________________________________________________________________________________________
## OPERASI MATEMATIKA DI PYTHON

Terdapat operasi matematika di Python, seperti:

In [38]:
print(7+13)  #Operasi Penjumlahan 
print(23-1)  #Operasi Pengurangan
print(10*5)  #Operasi Perkalian
print(11/3)  #Operasi Pembagian
print(11//3) #Operasi Pembulatan Pembagian
print(10%3)  #Modulo
print(2**4)  #Operasi pangkat

20
22
50
3.6666666666666665
3
1
16

In [41]:
#AUGMENTED OPERATOR
x = 2
x+= 3 #perintah ini artinya nilai x sebelumnya dijumlahkan dengan nilai yang diminta (x+3)
print(x)

y = 10
y-= 2 #perintah ini berarti nilai y sebelumnya dikurangkan dengan nilai yang diminta (y-2)
print(y)

z = 7
z*= 5 #perintah ini berarti nilai z sebelumnya dikalikan dengan nilai yang diminta (z*5)
print(z)

a = 10
a/=2 #perintah ini berarti nilai a sebelumnya dibagi dengan nilai yang diminta (a/2)
print(a)

5
8
35
5.0

In [42]:
x+= 5
print(x)
#Dapat dilihat bahwa walaupun sebelumnya nilai x=2, tetapi dikarenakan x sudah mengalami operasi penjumlahan dengan 3
#Maka nilai x yang terdefinisi adalah nilai x yang terakhir, pada kasus ini nilai x sudah berubah menjadi 5
#Oleh karena itulah output yang dihasilkan adalah 10.

10

In [43]:
#Kita bisa melakukan kombinasi operasi matematika juga
print(12*5+20*2)
print(5+5-5/5*5)
print(4**2+4)

100
5.0
20

Kita coba menerapkan operasi matematika pada variable string NCT di atas

In [44]:
NCT.find('Jeno') + NCT.find('Jaemin') + NCT.find('Haechan')

54

Pada contoh ini indeks dari setiap huruf awal dijumlahkan.

Indeks huruf "J" pada 'Jeno' bernilai 12, huruf "J" pada 'Jaemin' bernilai 25, huruf "H" pada 'Haechan' bernilai 17

Ketika ketiga indeks huruf tersebut dijumlahkan maka hasilnya sesuai dengan output, yaitu 54

In [45]:
NCT.find('Jeno') + NCT.find ('Jaemin') * NCT.find('Jisung')

987

Jadi, dapat dilihat bahwa operasi hitung matematika pada string juga dapat dilakukan
_______________________________________________________________________________________________________________________________

## OPERATOR PERBANDINGAN DI PYTHON

Operator perbandingan akan menghasilkan output True atau False tergantung dari data yang kita input.

Beberapa operator perbandingan pada python antara lain:

In [47]:
#'>' digunakan untuk perbandingan lebih besar dari
x = 2
print(x>1)
print(x>3)

True
False

In [49]:
#'<' digunakan untuk perbandingan lebih kecil dari
print(10<5)
print(2<5)

False
True

In [50]:
#'<=' digunakan untuk perbandingan lebih kecil sama dengan
y = 10
print(y<=20)
print(y<=10)
print(y<=5)

True
True
False

In [51]:
#'>=' digunakan untuk perbandingan lebih besar sama dengan
print(10>=2)
print(10>=10.5)
print(10>=10)

True
False
True

In [52]:
#'==' digunakan untuk perbandingan sama dengan
print(3==3)
print(3==3.5)

True
False

In [53]:
#'!=' digunakan untuk perbandingan tidak sama dengan
print(3!=3)
print(3!=3.5)

False
True

In [55]:
#Kita coba dengan operasi matematika
print(3==9/3)
print(4>8/2)
print(5>2*3)

True
False
False

_______________________________________________________________________________________________________________________________
## OPERATOR LOGIKA DI PYTHON

Beberapa operator logika pada Python adalah 'and', 'or' dan 'not'. 
Operator 'and' akan bernilai True jika kedua nilai adalah True. 
Operator 'or' akan bernilai True jika salah satu nilainya adalah True. 
Sedangkan, operator 'not' akan menghasilkan nilai yang berlawanan.

In [57]:
NCT = 23
SVT = 13
BTS = 7
TXT = 5

In [58]:
print (NCT<24 and NCT>20)
#NCT dideklarasikan bernilai 23, maka kedua pernyataan tersebut bernilai benar, sehingga outputnya adalah True

True

In [59]:
print (SVT>=13 and SVT>=14)
#SVT didefinisikan bernilai 13, sehingga pernyataan pertama bernilai benar dan pernyataan kedua bernilai salah
#akan tetapi output yang dihasilkan adalah False dikarenakan kita menggunakan operator 'and' dimana kedua pernyataan harus bernilai benar

False

In [60]:
print (BTS==TXT and TXT>NCT)
#Kedua pernyataan tersebut bernilai salah sehingga outputnya adalah False

False

In [61]:
print (NCT>SVT or BTS<SVT)
#Kedua pernyataan ini bernilai benar

True

In [62]:
print (NCT==BTS or BTS>TXT)
#Pernyataan pertama bernilai salah, sedangkan pernyataan kedua bernilai benar
#Karena kita menggunakan operator 'or' dimana ketika salah satu pertanyaan bernilai benar maka outputnya tetap True

True

In [63]:
print (SVT==23 or TXT>NCT)
#Operator 'or' akan bernilai False jika kedua pernyataan bernilai salah

False

In [64]:
print(not(NCT==23 and SVT==13))
#Walaupun kedua pernyataan tersebut bernilai benar
#tetapi karna kita menggunakan operator 'not' maka outputnya akan menjadi kebalikannya

False

In [67]:
print(not(BTS>10 or TXT<4))
#Kedua pernyataan tersebut bernilai salah
#Operator 'not' membuat outputnya menjadi True

True

_______________________________________________________________________________________________________________________________
## OPERATOR IF DI PYTHON

Operator if akan dijalankan apabila nilai variabel yang dijalankan adalah TRUE. Sedangkan jika nilainya adalah FALSE, maka tidak akan dijalankan/berhenti.

In [68]:
Nilai = float(input('Masukkan nilaimu '))
if Nilai >=80:
    print("Kamu mendapatkan nilai A")
    print("Hebat! Pertahankan")
if Nilai < 80 and Nilai >= 70:
    print("Kamu mendapatkan nilai B")
    print("Tingkatkan lagi yaa!")
if Nilai < 70 and Nilai >= 60:
    print("Kamu mendapatkan nilai C")
    print("Lain kali harus lebih baik.")
if Nilai < 60 and Nilai >= 50:
    print("Anda mendapatkan nilai D")
    print("Ulangi lagi tahun depan!")
if Nilai <50:
    print("Anda mendapatkan nilai E")
    print("Sampai jumpa tahun depan!")

Masukkan nilaimu 65
Kamu mendapatkan nilai C
Lain kali harus lebih baik.

In [69]:
#Program merubah tinggi badan seseorang dari cm ke inci atau sebaliknya dari inci ke cm.
tinggi = float(input("Berapakah tinggi anda? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")

if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi anda adalah " + str(tinggi) + " inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi anda adalah {tinggi} cm")

Berapakah tinggi anda? 164
Tingginya dalam cm atau inci? CM
Tinggi anda adalah 64.566964 inci